[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "==3.2.3"
pydantic = "==2.9.2"
psycopg-binary = "==3.2.3"
psycopg-pool = "==3.2.3"

[dev-packages]
coverage = "7.6.2"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"

[scripts]
start = "python -B src/main.py"
test = "python -B -m unittest discover src"
coverage = """sh -c 'python -B -m coverage run -m unittest discover src && python -m coverage report'"""
