[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = { extras = ["pool", "binary"], version = "*" }
pydantic = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"

[scripts]
start = "python -B src/main.py"
test = "python -B -m unittest discover src"
coverage = """sh -c 'python -B -m coverage run -m unittest discover src && python -m coverage report'"""
